// place your custom styles here
// 头像圆角
.vp-blog-hero-image {
       border-radius: 100%;
}

// 导航
.vp-nav-links {
       gap: 30px;
}

.vp-nav-item {
       margin: 0;
}

.vp-dropdown-title {
       padding: 0;
}

.vp-icon {
       margin-right: 20px;
}

.vp-dropdown {
       inset-inline-start: 0;
       inset-inline-end: initial;
}

/* 小于等于 768px （常见手机屏幕宽度） */
@media screen and (max-width: 768px) {
       ::-webkit-scrollbar-thumb {
              background-color: transparent;
       }

       .blog-page-wrapper {
              padding: 0 20px;
       }

       .vp-article-item {
              border-radius: 20px;
              padding: 20px;

              .sticky-icon {
                     top: -10px;
                     right: -10px;
              }

       }

       .vp-breadcrumb {
              padding-top: 1.5rem;
       }
}