// place your custom styles here
// 头像圆角
.vp-blog-hero-image {
       border-radius: 100%;
}

// 头像圆角
.vp-nav-logo {
       border-radius: 100%;
}

// 导航
.vp-nav-links {
       gap: 30px;
}

.vp-nav-item {
       margin: 0;
}

.vp-dropdown-title {
       padding: 0;
}

.vp-icon {
       margin-right: 20px;
}

.vp-dropdown {
       inset-inline-start: 0;
       inset-inline-end: initial;
}

// 侧边栏
.vp-sidebar-links {
       gap: 2px;
}

.vp-sidebar .vp-icon {
       margin-inline-end: 0.5em;
}

.vp-sidebar-header>* {
       height: 100%;
}

.vp-sidebar-links {
       margin: 0 0 0 1.5em;
}

.vp-sidebar-links,
.vp-sidebar-group {
       display: flex;
       flex-direction: column;
       gap: 5px;
}

.vp-sidebar-link:hover {
       background: var(--vp-c-accent-soft);
       color: var(--vp-c-accent);
       font-weight: 500;
}

.vp-navbar-end {
       gap: 6px;
}

.vp-footer-wrapper {
       padding-inline-start: 0 !important;
       padding-inline: 0 !important;
       padding-block: 0 !important;
       padding: 0 26rem !important;
       justify-content: space-between !important;
}

/* 小于等于 768px （常见手机屏幕宽度） */
@media screen and (max-width: 768px) {
       ::-webkit-scrollbar-thumb {
              background-color: transparent;
       }

       .blog-page-wrapper {
              padding: 0 20px;
       }

       .vp-article-item {
              border-radius: 20px;
              padding: 20px;

              .sticky-icon {
                     top: -10px;
                     right: -10px;
              }

       }

       .vp-breadcrumb {
              padding-top: 1.5rem;
       }

       // 取消页脚内边距
       .vp-footer-wrapper {
              padding: 0 !important;
       }


}